'.source.js':
  'import React, enzyme':
    'prefix': 'imrenz'
    'body': """
      import React from 'react';
      import { shallow, mount } from 'enzyme';
    """

  'jest beforeEach':
    'prefix': 'jbfe'
    'body': """
      beforeEach(() => {
        $0
      });
    """

  'jest it':
    'prefix': 'jit'
    'body': """
      it('$1', () => {
        $0
      });
    """

  'jest describe':
    'prefix': 'jdes'
    'body': """
      describe('$1', () => {
        $0
      });
    """

  'jest wrapper = mount(<...>)':
    'prefix': 'jmount'
    'body': 'const wrapper = mount(<$0 {...defaultProps} />);';

  'jest wrapper = shallow':
    'prefix': 'jshw'
    'body': 'const wrapper = shallow(<$0 {...defaultProps} />);'
